body {
  padding: 50px;
  font: 17px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#footnav {
    padding-top: 0.25rem;   
    padding-bottom: 0.25rem; 
    padding-right: 12rem;
}

#headnav {
    padding-top: 0.25rem;   
    padding-bottom: 0.25rem; 
    padding-right: 12rem;
}